 
  {% if page.title %}
  {% assign monkey = site.posts.first %} 
  {% elsif post.title %}
  {% assign monkey = site.posts.first %}
  {% endif %}



<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">  
    <h1 class="post-title" itemprop="name headline">{{ monkey.title | escape }}</h1>  

    <p class="post-meta">
       
      <time datetime="{{ monkey.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ monkey.date | date: date_format }}
      </time>   
      
      {% if monkey.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ monkey.author }}</span></span>
      {% endif %}
      </p>
  </header>
<hr/>
  <div class="post-content" itemprop="articleBody"> 
    {{ content }}
  </div>
</article>


{% if page.comments  %} 
  {% include disqus_comments.html %}
{% endif %} 